* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Ensure padding and borders are included in the element's total width and height */
}

body {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e1ab07;
  border: 2px solid #fcc302;
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
  align-items: center;
  padding: 9px;
}

.navbar:hover {
  transform: scale(1.005);
}

.nav_list {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.nav_items {
  color: rgba(255, 255, 255, 0.886);
  list-style-type: none;
  text-decoration: none;
  padding-left: 100px;
  font-weight: 700;
  font-size: 20px;
  transition: color 0.5s ease-in-out;
}


.nav_items:hover {
  color: rgb(19, 25, 19);
}

.h_img {
  padding: 20px;
  padding-top: 80px;
  display: flex;
  gap: 140px;
}

.comp_img {
  width: 600px;
  height: 350px;
  border-radius: 29px;
  transition: transform 1.4s ease-in-out;
}

.comp_img:hover {
  transform: scale(1.06);
  box-shadow: 8px 8px 8px black;

}

h1 {
  color: rgb(252, 246, 246);
  font-size: 100px;
  margin-left: 100px;
}

p {
  color: white;
  margin-left: 100px;
  margin-top: 30px;
  font-size: 30px;
}

.head {
  background-color: #e1ab07;

}

.btns {
  display: flex;
  margin-top: 60px;
  gap: 20px;
  margin-left: 100px;
}

.btn_contact {
  border-radius: 4px;
  font-size: 20px;

  padding: 10px;
  width: 100px;
  background-color: #08aeb7;
  color: rgb(255, 255, 255);
  border: 2px solid #08aeb7;
  transition: border 0.5s ease-in-out;
  transition: transform 1.5s ease-in-out;

}

.btn_contact:hover {
  border: 2px solid rgb(11, 67, 93);
  background-color: #219aa0;
  transform: scale(1.09);
}

.btn_service {
  border-radius: 4px;
  font-size: 20px;
  width: 100px;
  padding: 10px;
  background-color: grey;
  border: 2px solid grey;
  color: rgb(0, 0, 0);
  transition: border 0.5s ease-in-out;
  transition: transform 1.5s ease-in-out;
}

.btn_service:hover {
  border: 2px solid rgb(8, 8, 8);
  transform: scale(1.09);
  background-color: rgb(92, 88, 88);
  color: white;

}

.courses {
  display: flex;
  margin: 50px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 70px;
}

.img_2 {
  width: 330px;
  height: 410px;
  object-fit: contain;

}

.p2 {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.845);
}


.explore {
  font-size: 19px;
  border-radius: 4px;
  width: 100px;
  padding: 10px;
  background-color: #fcc302;
  border: 2px solid #fcc302;
  color: rgb(0, 0, 0);
  transition: border 0.5s ease-in-out;
  transition: transform 1.5s ease-in-out;
}

.explore:hover {
  border: 2px solid rgb(8, 8, 8);
  transform: scale(1.09);
  background-color: #fcc302;
  color: white;

}


.center {
  border: 1px solid #fcc302;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(hori_2.jpg);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 160px;
}

.svg1 {
  width: 100px;
}

.svg1_text {
  font-size: 30px;
}

.recent {
  text-align: center;
  margin: 90px;
}

.sell {
  text-align: center;
  font-size: 30px;

}

.cards {
  margin-top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 170px;
  gap: 80px;
}

.card1 {
  height: 490px;
  border-radius: 17px;
  padding: 10px;
  width: 400px;
  background-color: #fcc302;
  transition: transform 0.5s ease-in-out;
}

.card1:hover {
  transform: scale(1.05);
}

.card2 {
  height: 490px;
  border-radius: 17px;
  padding: 10px;
  width: 400px;
  background-color: #fcc302;
  transition: transform 0.5s ease-in-out;
}

.card2:hover {
  transform: scale(1.05);
}

.card3 {
  height: 490px;
  border-radius: 17px;
  padding: 10px;
  width: 400px;
  background-color: #fcc302;
  transition: transform 0.5s ease-in-out;
}

.card3:hover {
  transform: scale(1.05);
}


.img_course {
  width: 375px;
  margin-bottom: 6px;
  margin: 10pxpx;
  border-radius: 15px;
  border: 5px solid black;
}

h4 {
  text-align: center;
  color: rgb(237, 30, 30);
  font-size: 20px;
  font-weight: 700 !important;
}

.p5 {
  display: flex;
  text-align: center;
  font-weight: 500;

}

.cost {
  display: flex;
  margin-left: 40px;
  font-size: 40px;
}

.p6 {
  color: red;
  font-weight: 800;
}

.cost_sale {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.buy {
  border-radius: 7px;
  width: 100px;
  padding: 10px;
  font-size: 14px;
  margin-left: 140px;
  margin-top: 11px;
  font-weight: 700;
  background-color: rgb(8, 212, 49);
  border: 2px solid rgb(10, 235, 29);
  color: rgb(0, 0, 0);
  transition: border 0.5s ease-in-out;
  transition: transform 1.5s ease-in-out;
}

.buy:hover {
  border: 2px solid rgb(8, 8, 8);
  transform: scale(1.09);
  background-color: rgb(63, 202, 21);
  color: rgb(36, 47, 193);

}


.About {
  list-style-type: none;
}

.footlist {
  margin-top: 10px;
}

.footlist a {
  font-weight: 600;
}

.footer {
  background-color: grey;
  padding: 50px;


}

.links a {
  text-decoration: none;
  color: black;
}


.link {
  list-style-type: none;
  transition: transform 0.5s ease-in-out;

}

.links ul {
  display: flex;
  gap: 40px;
  justify-content: end;
}

.links {
  margin-top: 20px;

}

.img_link {
  width: 30px;
  transition: transform 0.3s ease-in-out;

}

.img_link:hover {
  transform: scale(1.5);
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  /* Adjust as needed to avoid a jump effect */
}

.dropdown-menu {
  display: none;
}

.dropdown-menu li a {
  font-weight: 700;
}